@model IEnumerable<TcsInsurance.Entities.Log>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>DateTime</th>
        <th>MethodName</th>
        <th>Input</th>
        <th>Output</th>
        <th>Exception</th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>@item.DateTime.ToString("yyyy-MM-dd hh-mm-ss")</td>
        <td>@item.Name</td>
        <td>@item.Input</td>
        <td>@item.Output</td>
        <td>@item.Exception</td>
    </tr>
}
</table>