@model IEnumerable<TcsInsurance.Entities.Log>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>
</p>
<table class="table">
    <tr>
        <th>Start</th>
        <th>Duration</th>
        <th>MethodName</th>
        <th>Input</th>
        <th>Output</th>
        <th>Exception</th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>@item.Start.ToString("yyyy-MM-dd hh-mm-ss")</td>
        <td>@(item.End - item.Start).TotalMilliseconds.ToString() ms</td>
        <td>@item.Name</td>
        <td>@item.Input</td>
        <td>@item.Output</td>
        <td>@(Newtonsoft.Json.JsonConvert.DeserializeObject<TcsInsurance.ViewModels.ExceptionMessage>(item.Exception).Message)</td>
    </tr>
}
</table>