@model IEnumerable<TcsInsurance.Entities.Log>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<table class="table table-sm">
    <tr>
        <th class="col-lg-2">Start</th>
        <th class="col-lg-1">Duration</th>
        <th class="col-lg-1">MethodName</th>
        <th class="col-lg-1">Input</th>
        <th class="col-lg-1">Output</th>
        <th class="col-lg-6">Exception</th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>@item.Start.ToString("yyyy-MM-dd hh-mm-ss")</td>
        <td>@((item.End - item.Start).TotalMilliseconds.ToString()) ms</td>
        <td>@item.Name</td>
        <td>@item.Input</td>
        <td>@item.Output</td>
        <td>@(Newtonsoft.Json.JsonConvert.DeserializeObject<TcsInsurance.ViewModels.ExceptionMessage>(item.Exception).Message)</td>
    </tr>
}
</table>